<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Online Cookbook</h1>
    <%= yield %>
    <br> <br>
    <%= link_to "Show all recipes", recipes_url %> <%= link_to "Show all categories", categories_url %>
  </body>
</html>
